/*importantando archivo con esyilos globales*/
@import './otros/normalize';

/*importando las variables*/
@import './otros/_variable.scss';

/*importando el header*/
@import './secciones_iguales/_header.scss';

section {
  background-color: $bg-light-blue;
  padding: 8px;
  text-align: center;

  ul {
    margin-top: 1.5rem;
    padding: 2px;
  }

  img {
    text-align: center;
  }
}
.button--carousel-derecho {
  margin-left: -8px;
  border-radius: 2px;
}
.button--carousel-izquierdo {
  margin-right: -8px;
}
.arrow-button {
  border: 1px solid white;
  border-radius: 20px;
  background-color: var(--bg-blue-acuamarina);
}
.main_h2 {
  align-items: center;
  text-align: center;
  font-size: 30px;
  height: 70px;
  padding-top: 20px;
}
article {
  background-color: var(--bg-blue);
}
