/*agregando el reseteo para mis paginas*/
*{
  margin: 0;
  padding: 0;
}
/*Agregando estilos al body*/
body {
  display: grid;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2.5px;
  text-transform: capitalize;
}
/*agregando estilos al header*/
header {
  background-color: #faf0e5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*agregando estilos al titulo*/
.header_titulo {
  text-align: center;
  margin-left: 10px;
}
/*agregando estilos al nav*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0  5px;
}
/*agregando estilos a la imagen de la lista*/
.nav_items--img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.nav_label{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
li a.active, li a:hover{
  color: blueviolet;
  transition:  .5s;
}

#check{
  display: none;
}
/*agregando estilos a la seccion de las imagenes*/
.main_section {
  width: 100%;
  display: inline-flex;
}
/*agregando estilos a las imagenes de el main*/
.section_img {
  display: block;
  width: 20%;
  /*height: 300px;*/
}
/*agregando estilos al subtitulo*/
.main_h2 {
  align-items: center;
  /* display: flex; */
  flex-direction: column;
  /* width: 20px; */
  text-align: center;
  font-size: 30px;
  height: 70px;
  padding-top: 20px;
}
/*agregando estilos a la seccion que contine los productos*/
.main_section--sectiondos {
  width: 100%;
  /*height: 700px;*/
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
/*agregando estilos a los articulos*/
.section_articulos {
  background-color: #faf0e5;
  display: inline-table;
  width: 22%;
  height: 70%;
  border-radius: 10px;
  margin-bottom: 40px;
}
/*agregando estilos a las imagenes de el producto*/
.article_img {
  height: 300px;
  margin: 30px;
  /*padding-top: 60px;*/
  border-radius: 10px;
}
/*agregando estilos a el footer*/
footer {
  width: 100%;
  height: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 14px;
  background-color: #faf0e5;
  margin-top: 40px;
}
.footer_h3 {
  margin-left: 10px;
}
.footer_div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-right: 10px;
}
.footer_div--img {
  width: 30px;
  margin-left: 8px;
}
/*SECCION ESTILOS PARA LA PAGINA DE PRODUCTOS*/
.section_productos {
  width: 100%;
  /*height: 700px;*/
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.section_articulos--productos {
  background-color: #faf0e5;
  display: inline-table;
  width: 22%;
  height: 70%;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-inline: auto;
  /*margin-right: 20px;*/
}
.article_img--producto {
  height: 300px;
  margin: 30px;
  /*padding-top: 60px;*/
  border-radius: 10px;
}
/*SECCION DE ESTILOS PARA LA PAGINA DE CONTACTENOS*/
.main--contactos {
  background-color: #faf0e5;
  display: flex;
  margin: 40px;
  margin-top: 60px;
  border-radius: 10px;
}
.main_img--contactos {
  margin: 20px;
  border-radius: 10px;
}
.main_form {
  margin: 60px;
  display: grid;
  align-content: center;
}
.form_h3 {
  margin-bottom: 10px;
  font-size: 13px;
}
.form_input {
  display: block;
  width: 100%;
}
.form_input--mensaje {
  height: 300%;
  width: 100%;
  display: block;
}
.div_boton {
  display: flex;
  justify-content: center;
  margin-top: 35%;
}
.form_boton {
  width: 100px;
}
/*SECCION DE ESTILOS PARA LA PAGINA DE DETALLES*/
.main--detalles {
  background-color: #faf0e5;
  display: flex;
  margin: 40px;
  margin-top: 60px;
  border-radius: 10px;
}
.main_img--detalles {
  margin: 30px;
  border-radius: 10px;
}
.main_section--detalles {
  display: block;
  margin: 60px;
}
.section_h2--detalles {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  margin-top: 20px;
}
.section_p {
  margin-bottom: 90px;
}
.article_detalles {
  display: flex;
  justify-content: center;
}
.article_boton--detalles {
  width: 30%;
  height: 30px;
  border-radius: 8px;
}
/*SECCION DE ESTILOS PARA LA PAGINA DE CARRITO*/
.main--carrito {
  background-color: #faf0e5;
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  margin-top: 60px;
  border-radius: 10px;
}
.main_section--carrito{
  display: grid;
  justify-content: center;
}
.main_img--carrito{
  margin: 40px;
  /* display: flex; */
  /* align-items: center; */
  width: 20%;
  border-radius: 10px;
}
.form_carrito{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 60px;
}
.form_h2--carrito{
  margin-right: 20px;
}

/* responsive*/
@media  (max-width:952px){
  a{
    padding-left: 20px;

  }
  .header_titulo{
    margin-left: 20px;
  }
  nav ul li a{
    font-size: 10px;
  }
}
@media (max-width:858px) {
  .nav_label{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: hotpink;
    top: 80px;
    left: -100%;
    text-align: center;
    transition:  all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  li a:hover li a.active{
    background: none;
    color: rgb(160, 220, 111);
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/*@media (max-width:1000px){
  main{
    width: 100%;
  }
  .main_section--sectiondos{
    display: block;
    text-align: center;
    line-height: 30px;
  }
}*/