/*importantando archivo con esyilos globales*/
/*reseteo*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*globales*/
html {
  font-size: 90%; }

body {
  display: grid;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 2.5px;
  text-transform: capitalize; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

/*importando las variables*/
/*variables de color*/
/*variables para letras*/
/*importando el header*/
/*estilos para el slider menu despegable*/
header {
  background-color: #cfecec; }
  header nav {
    background-color: #cfecec; }
    header nav div {
      text-align: center;
      margin-top: -10px; }
      header nav div ul {
        margin-top: 1.5rem;
        padding: 2px; }
      header nav div li {
        font-size: 16px; }

.header_titulo {
  margin-top: 10px;
  margin-left: 10px; }

@media screen and (max-width: 800px) {
  .header_titulo {
    font-size: 15px;
    color: black; } }

/*importando el footer*/
footer {
  background-color: #cfecec; }
  footer h3 {
    font-size: 20px;
    margin-top: 10px; }

/*importando la pagina del home*/
.main {
  margin-bottom: 30px; }
  .main_section--index {
    background-color: #f1fdfd;
    padding: 8px;
    text-align: center; }

div {
  margin-bottom: 10px; }
  div ul {
    margin-top: 1.5rem;
    padding: 2px; }
    div ul img {
      text-align: center;
      object-fit: cover; }
    div ul img:hover {
      filter: opacity(0.9); }

.button {
  border: 10px; }
  .button--carousel-derecho {
    margin-left: -8px; }
  .button--carousel-izquierdo {
    margin-right: -8px; }
  .button .arrow-button {
    border: 1px solid white;
    border-radius: 20px;
    border-color: #52bdbd;
    background-color: #cfecec; }

h2 {
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding-top: 20px; }

.section, h2 h3 {
  text-align: center; }
  .section_article {
    background-color: #f1fdfd;
    box-shadow: 0 1px 6px 0 #52bdbd;
    border-color: #52bdbd; }
  .section_article--img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .section_article--img {
    overflow: hidden;
    width: 200px;
    height: 300px;
    object-fit: cover; }

@media (max-width: 800px) {
  .section_article--img {
    height: 100px;
    width: 80px; } }

/*importando la pagina de productos*/
section {
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center; }

h2 {
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding-top: 20px; }

.article_productos {
  margin: 10px;
  padding: 2px;
  background-color: #f1fdfd;
  box-shadow: 0 1px 6px 0 #52bdbd;
  border-color: #52bdbd; }
  .article_productos_img {
    width: 300px;
    height: 500px;
    object-fit: cover; }
  .article_productos_img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

@media (max-width: 900px) {
  h2 {
    font-size: 20px; } }

@media (max-width: 800px) {
  section {
    padding: 10px;
    margin: 20px; } }

@media (max-width: 1000px) {
  .article_productos_img {
    height: 200px;
    width: 100px; } }

.main_estilos {
  width: 90%;
  border-radius: 10px;
  margin-top: 8rem;
  margin-bottom: 3rem;
  background-color: #f1fdfd;
  box-shadow: 0 1px 6px 0 #52bdbd;
  border-color: #52bdbd;
  display: flex;
  height: 100vh; }
  .main_estilos--div {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center; }
  .main_estilos--div--img {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 30px; }

.main_section--detalles {
  margin: 60px; }
  .main_section--detalles--h2 {
    font-size: 30px;
    margin: 10px;
    animation-name: h2;
    animation-duration: 0.5s;
    animation-fill-mode: both; }
    .main_section--detalles--h2--parrafo {
      font-size: 16px; }

.button--detalles {
  margin-top: 10%;
  background-color: #52bdbd;
  opacity: 3;
  border: 2px solid #f1fdfd;
  width: 100px;
  height: 40px; }

@keyframes h2 {
  0% {
    letter-spacing: 4rem;
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    letter-spacing: inherit;
    opacity: 1; } }

@media (max-width: 800px) {
  .main_estilos--div {
    display: block;
    margin: 10px; } }

@media (max-width: 800px) {
  .main_section--detalles {
    margin: -10px;
    display: block; }
    .main_section--detalles--h2 {
      font-size: 20px; }
      .main_section--detalles--h2--parrafo {
        font-size: 10px; } }

@media (max-width: 800px) {
  .main_estilos {
    display: inline-block;
    margin-bottom: 30%;
    height: 80%; }
    .main_estilos--div--img {
      display: flex;
      width: 200px;
      object-fit: cover;
      margin-bottom: -2px;
      justify-content: center;
      margin-top: 10px;
      margin-left: 20%;
      padding-top: 5px; } }
