.main_estilos--contacto{
  width: 90%;
  border-radius: 10px;
  margin-top: 8rem;
  margin-bottom: 3rem;
  display: flex;
  height: 100vh;
  @include caja;
  &--div{
    display: inline-flex;
    align-items: center;
    padding: 15px;
    margin-left: 10px;
    justify-content: center;
    &--img{
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 10px;
      text-align: center;
      justify-content: flex-start;
      flex-direction: row;
    }
  }
}
.main_estilos--contacto--div--div{
  padding: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;

}

.div_form{
  justify-content: center;
  &--input--nombre{
    margin-bottom: 15px;
    border-color: $bg-blue-acuamarina;
    width: 35rem;
    margin-left: 9em;
  }
  &--input--correo{
    @extend .div_form--input--nombre;
  }
  &--input--label{
    @extend .div_form--input--nombre;
  }
  &--input--textarea{
    @extend .div_form--input--nombre;
  }
}

.button_form:hover{
  background-color: $bg-blue;
  box-shadow: 0px 15px 20px $bg-blue-acuamarina;
  color: black;
  transform: translateY(-7px);
}

.button_form:active{
  transform: translateY(-1px);
}

.button_form{
  margin-left: 23em;
  @include boton;
}

@media (max-width: 800px){
  .div_form--input--nombre{
    width: 60%;
  }
}
@media (max-width: 800px){
  .main_estilos--contacto--div{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &--div{
      margin-left: -33%;
      margin-top: 40%;
    }
  }
  .main_estilos--contacto--div--img{
    height: 30%;
  }
  .div_form{
    display: grid;
    justify-items: end;
  }
  .button_form{
    margin-left: 0;
  }
}