.main {
  margin-bottom: 30px;

  &_section--index {
    background-color: $bg-light-blue;
    padding: 8px;
    text-align: center;
  }
}

div {
  margin-bottom: 10px;

  ul {
    margin-top: 1.5rem;
    padding: 2px;

    img {
      text-align: center;
      object-fit: cover;
    }
  }
}
.button {
  border: 10px;
  &--carousel-derecho {
    margin-left: -8px;
  }
  &--carousel-izquierdo {
    margin-right: -8px;
  }
  .arrow-button {
    border: 1px solid white;
    border-radius: 20px;
    border-color: $bg-blue-acuamarina;
    background-color: $bg-blue;
  }
}
h2 {
  align-items: center;
  text-align: center;
  font-size: $tituloh2;
  padding-top: 20px;
}
.section {
  text-align: center;
  &_article {
    background-color: $bg-light-blue;
    border: 1.5px solid;
    border-color: $bg-blue-acuamarina;
  }
  &_article--img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  &_article--img {
    overflow: hidden;
    width: 200px;
    height: 300px;
    object-fit: cover;
    border: 1px solid;
    border-color: $bg-blue-acuamarina;
  }
}
@media (max-width: 800px){
  .section_article--img{
    height: 100px;
    width: 80px;
  }
}
